.form {
  background-color: #431e87;
  padding: 1rem;
  width: 16rem;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #eadbfb;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #cbb3e9;
  color: #28262c;
}

.actions {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}

.actions button {
  cursor: pointer;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #34036c;
  color: #e5d5f7;
}

.actions button:hover {
  background-color: #23014a;
}

.actions button[type='button'] {
  background-color: #cbb3e9;
  border: 4px solid #34036c;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  color: #34036c;
}

.actions button[type='button']:hover {
  color: #1f033e;
  background-color: #ddceef;
}