/* Variables */
:root {
  --bg-color-dark: #181c1f;
  --bg-color-darker: #282f33;
  --bg-color-light-gray: #2d3942;
  --txt-color-light: #bdd1d4;
  --txt-color-primary: #f3e248;
  --txt-color-white: #dbd7b1;
  --txt-color-whiter: #e0eff1;
  --txt-color-secondary: #273133;
}

/* Reset */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--bg-color-dark);
  color: var(--txt-color-light);
  margin: 4rem 2rem;
}

/* Header */
header {
  margin: 2rem 0;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

header img {
  width: 3rem;
  object-fit: contain;
}

header h1 {
  margin: 0;
  color: var(--txt-color-primary);
}

header p {
  margin: 0;
  color: var(--txt-color-white);
}

/* Tabs */
#tabs {
  max-width: 32rem;
  margin: 2rem 0;
  overflow: hidden;
}

#tabs menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.25rem;
}

#tabs button {
  font: inherit;
  font-size: 0.85rem;
  background-color: var(--bg-color-darker);
  border: none;
  border-bottom-color: var(--txt-color-primary);
  color: var(--txt-color-whiter);
  border-radius: 6px 6px 0 0;
  padding: 0.75rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  font-size: 1.25rem;
  text-transform: uppercase;
}

#tabs button:hover,
#tabs button.active {
  background-color: var(--txt-color-primary);
  color: var( --txt-color-secondary);
}

#tab-content {
  background-color: var(--bg-color-light-gray);
  border-radius: 0 6px 6px 6px;
  padding: 1rem;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  -ms-border-radius: 0 6px 6px 6px;
  -o-border-radius: 0 6px 6px 6px;
  font-size: 1.25rem;
}

#tab-content li {
  margin: 0.75rem 0;
}