* {
  box-sizing: border-box;
}

:root {
  --bg-color-dark: #181c1f;
  --bg-color-darker: #282f33;
  --bg-color-light-gray: #2d3942;
  --txt-color-light: #bdd1d4;
  --txt-color-primary: #35f1eb;
  --txt-color-white: #b1d8db;
  --txt-color-whiter: #e0eff1;
  --txt-color-secondary: #273133;
}